#grid {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid #2f3d2e;
}

.box {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2f3d2e;
    cursor: pointer;
}

.crossed {
    background-color: #333333;
    color: #fff;
}
